<div class="title">
  <h1>video chat angular + spring Boot</h1>
</div>
<div class="ContentOfVideoChat">
  <div class="videoStreamContainer">
    <video #userVideoStream [autoplay]="true" [muted]="true" class="userVideostream"></video>
    <video [autoplay]="true" [muted]="true" #guestVideoStream class="userVideostream"></video>
  </div>
  <div class="bouttns">
    <button>mute</button>
    <button (click)="pauseLocalVideo()">stop cam</button>
    <button (click)="startLocalVideo()">restart cam</button>
    <button>share screen </button>
  </div>
</div>
